@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    scroll-behavior: smooth;
  }

  html {
    scroll-behavior: smooth;
  }


  #latest-posts {
    padding: 20px;
    margin: 300px 100px 100px 100px;
    /* background: aquamarine;  */
  }
  p {
    line-height: 1.5;
  }
  
 